#btn_top-page {
    display: none;
    border: 2px solid #66cc00;
    background-color: #fff;
    width: fit-content;
    padding: 5px 15px;
    margin-left: auto;
    position: fixed;
    right: 10px;
    bottom: 30px;
    transition: all .5s;
}

#btn_top-page span {
    font-size: 0;
    margin: 0
}

#btn_top-page i {
    color: #66cc00;
}

#btn_top-page:hover {
    background-color: #66cc00;
    transition: all .5s;
}

#btn_top-page:hover i {
    color: #fff;
    transition: all .5s;
}

/*FOOTER*/

footer {
    padding: 40px 0;
}

footer hr {
    height: 3px;
    background-color: #66cc00;
    border: 0;
}

#social > h4{
    text-align: center;
    letter-spacing: 1px;
    color: #66cc00;
}
#reseau  {
    margin: 0 auto;
    display: flex;
    width: 100px;
    justify-content: space-between;

}
#reseau a{
    display: block;
    font-size: 0;
    margin: 0;
    background-size: contain;
    height: 40px;
    width: 40px;

}

#facebook {
    background-image: url(../img/facebook\(1\).svg);

}

#twitter {
    background-image: url(../img/twitter.svg);
}
