/*FOOTER*/

#social > h4{
    text-align: center;
}
#reseau  {
    margin: 0 auto;
    display: flex;
    width: 100px;
    justify-content: space-between;

}
#reseau a{
    display: block;
    font-size: 0;
    margin: 0;
    background-size: contain;
    height: 40px;
    width: 40px;

}

#facebook {
    background-image: url(../img/facebook\(1\).svg);
    
}

#twitter {
    background-image: url(../img/twitter.svg);
}

.copyright {
    display: flex;
    width:  100%;
    color: #66cc00;
}

.copyright > p {
    width: 50%;
}

.copyright > address {
    width: 50%;
    color: #66cc00;
    margin: auto 0;
    text-align: right;
}
