* {
    font-family: Ubuntu;
    src: url(../fonts/ubuntu-r-webfont.woff),
        url(../fonts/ubuntu-r-webfont.woff2);
}

body, header, footer, html {
	margin: 0;
}

header {
    position: fixed;
    top: 0;
    z-index: 2000;
    background-color: #fff;
    width: 100%;
}

.container_nav_header {
	list-style-type: none; 
	display: flex;
        padding:0;
}

.container_left {
    width: 65%;
    margin-left: 5%;
}

.container_left li a {
    display: inline-block;
    padding-top: 12px;
}

.container_right {
    display: flex;
    justify-content: space-between;
    width: 35%;
    margin-right: 5%;
} 

.container_right li {
    margin: auto 0;
}

.li_header {
	display: inline-block;
	font-size: 18px;
        line-height: 20px;
}
 .li_header > a {
 	text-decoration: none;
 }

 #li_g, #li_eneafinder {
 	font-weight: bold;
 }
 
 #li_g::before {
     content: url(../img/geneafinder-logo-nav.png);
     display: block;
     float: left;
     height: 50px;
     margin: 0;
     padding: 0;
 }

 #li_g, #li_g > a:visited {
 	color: #4f8913;
 }

#li_eneafinder > a,  #li_eneafinder > a:visited,  
#li_tutos > a, #li_tutos > a:visited,  
#li_blog > a, #li_blog > a:visited,  
#li_facebook > a, #li_facebook > a:visited,  
#li_twitter > a, #li_twitter > a:visited,  
#li_settings > a, #li_settings > a:visited,  
#li_deconnexion > a, #li_deconnexion > a:visited,  
#li_infos > a, #li_infos > a:visited, 
#li_aide > a, #li_aide > a:visited {
 	color : #66cc00;
 }