/* Galerie */

.galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 90%;
    margin: 0 auto;
    font-family: sans-serif;
}

.galery article {
    margin: 0;
}

.galery article a {
    display: block;
}

.image {
    position: relative;
}

.doc_information {
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    height: 25%;

    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0), #000);
}

.doc_title {
    font-size: 1vw;
    margin-top: 10%;
    color: #fff;
    padding: 0 5px;
}
.galery i {
    color: #fff;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.galery img {
    width: auto;
    height: 100%;

}

.galery article {
    position: relative;
    width: 18%;
    height: 23vw;
    overflow: hidden;
    margin-bottom: 3%;
}

.galery article a {
    width: 100%;
    height: 23vw;
    margin: 0;
}

.checkbox {
    position: absolute;
    top: 15px;
    right: 40px;
}

/* checkbox */

.checkbox {
  display: block;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 29px;
  width: 29px;
  z-index: 150;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 2px solid #00D404;
}

.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox input:checked ~ .checkmark {
  background-color: #66cc00;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 100000;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}

.lightbox img {
    display: block;
    margin: 0 auto;
}

.croix_image {
    position: absolute;
    top: 30px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all .5s;
}

.croix_image i {
        color: #000
}

.croix_image:hover i {
    color: #ccc;
    transition: all .5s;
}
