@font-face {
    font-family: Ubuntu;
    src: url(../fonts/ubuntu-r-webfont.woff),
        url(../fonts/ubuntu-r-webfont.woff2);
  }

.main_btn {
    display: flex;
    margin: 20px auto 70px;
    width: 90%;
    padding: 10px 5%;
    background-color: #fff;
}

.main_btn > btn {
    display: block;
    background-color: #66cc00;
    padding: .5em .5em;
    font-family: 'Ubuntu', sans-serif;
    border: 1px solid #66cc00;
    display: flex;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    transition: all .5s;
}

.main_btn > btn:hover,
.main_btn > btn:focus,
.main_btn > btn:active {
    border: 1px solid #66cc00;
    background-color: #fff;
    color: #66cc00;
    transition: all .5s;
}

.main_btn > btn#diaporama {
    margin-right: auto;
}

.main_btn > btn#deplacer {
    margin-left: 20px;
    margin-right: 10px;
    display: none;
}

.main_btn > btn#supprimer {
    margin-left: 10px;
    display:none;
}

.main_btn > btn > i {
    margin: auto 5px auto 10px;
}

.main_btn input[type="checkbox"] {
    visibility: visible;
}


#actions {
z-index: 10;
}