#Album_wrapper {
    background-color: rgb(253, 253, 253);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#Album_left,
#Album_right {
    cursor: pointer;
}

#Album_left {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 20px 15px 0;
    border-color: transparent #00D404 transparent transparent;
}

#Album_right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 20px;
    border-color: transparent transparent transparent #00D404;
}

#Album_list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 60vw;
}

#Album_list li {
    background-size: cover;
}

#Album_add {
    border: 1px solid black;
    display: flex;
    cursor: pointer;
    justify-content: space-around;
    align-items: center;
    width: 11vw;
    height: 11vw;
    transition: all .5s;
}

#Album_add i{
    color: #00D404;
    transition: all .5s;
}

#Album_add:hover {
    background-color: #00D404;
        border: 1px solid #00D404;
        transition: all .5s;
}

#Album_add:hover i{
    color: white;
    transition: all .5s;
}

.navitem {
    position: absolute;
    font-family: Helvetica;
    left: -1000px;
    font-size: 1em;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    width: 11vw;
    height: 11vw;
    opacity: 0;
}

.navitem p{
    position: relative;
    z-index: 1000;
    text-align: center;
}

.navitem div {
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: .2;
}

#navitem_1,
#navitem_2,
#navitem_3,
#navitem_4 {
    position: relative;
    display: flex;
    opacity: 1;
    left: 0px;
}
