.popup_nouveau_album {
    display: none;
    position: fixed;
    top: 30%;
    left: calc(50% - 200px);
    z-index: 10000;
    
    background-color: rgba(255, 255, 255, .9);
    border: 1px solid #000;
    width: 400px;
    height: 100px;  
    padding: 20px;
}

.popup_nouveau_album form {
    margin: auto 0;
    margin-top: 20px;
    display: flex;
}

.popup_nouveau_album input {
    height: 20px;
    width: 200px;
    padding: 5px;
    margin: auto 0;
}


.popup_nouveau_album input[type="submit"] {
    display: block;
    margin-left: auto;
    margin-right: 33px;
    height: 40px;
    width: 100px;
    
    background-color: #66cc00;
    padding: .5em .5em;
    font-size: 1.2em;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    border: 1px solid #66cc00;
    display: flex;
    color: #fff;
    text-decoration: none;
    transition: all .5s;
}

.popup_nouveau_album input[type="submit"]:hover {
    border: 1px solid #66cc00;
    background-color: #fff;
    color: #66cc00;
    transition: all .5s;
}


.croix {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: all .5s;
}

.croix:hover i {
    color: #ccc;
    transition: all .5s;
}