.popup_deplacer {
    display: none;
    position: fixed;
    top: 30%;
    left: calc(50% - 200px);
    z-index: 10000;
    
    background-color: rgba(255, 255, 255, .9);
    border: 1px solid #000;
    width: 400px;
    height: 200px;  
    padding: 20px;
}

.popup_deplacer form {
    margin: 0;
    margin-top: 20px;
}

.popup_deplacer label {
    font-size: 1.5em;
    margin-right: 10%;
}

.popup_deplacer select {
    width: 70%;
    height: 30px;
}

.popup_deplacer option {
    font-size: 2em;
}

.popup_deplacer input {
    display: block;
    margin-left: auto;
    margin-right: 33px;
    margin-top: 30px;
    
    background-color: #66cc00;
    padding: .5em .5em;
    font-size: 1.2em;
    font-family: 'Ubuntu', sans-serif;
    border: 1px solid #66cc00;
    display: flex;
    color: #fff;
    text-decoration: none;
    transition: all .5s;
}

.popup_deplacer input:hover {
    border: 1px solid #66cc00;
    background-color: #fff;
    color: #66cc00;
    transition: all .5s;
}


.croix {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: all .5s;
}

.croix:hover i {
    color: #ccc;
    transition: all .5s;
}