.searchbar{
    background: url('../img/bg_searchbar.jpg');
    background-size: cover;
    background-color: lightgrey;
    text-align: center;
    height: 230px;
    position: relative;
    padding: 20px 0;
}

.mon-cercle {
    background: url('../img/logo-stk.svg');
    position: absolute;
    top: 70px;
    left: 9%;
    width: 140px;
    height: 140px;
}

.stk {
    font-weight: bold;
    font-size: 1.2em;
    color: #FFF;
    margin-top: 35%;
}

.search {
    display: flex;
    width: 50%;
    margin: 0 auto;
    margin-top: 90px;
    height: 50px;
}

.site-search{
    background-color: rgba(255,255,255,0.9);
    color: #a8a8a8;
    border: 0;
    width: 84%;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

.searchbar button {
    border: 0;
    color: #FFF;
    padding: 10px;
    width: 8%;
    cursor: pointer;
    transition: all .5s;
}

.searchbar button[name="search"] {
    background-color: #66cc00;
    transition: all .5s;
}

.searchbar button[name="search"]:hover {
    background-color: rgba(96, 196, 0, .9);
    transition: all .5s;
}

.searchbar button[name="delete"] {
    background-color: #485f2b;
    transition: all .5s;
}

.searchbar button[name="delete"]:hover {
    background-color: rgba(58, 77, 30, .9);
    transition: all .5s;
}

.searchbar i::before {
    width: 5%;
}
